body ul {
  list-style-type: none; }

.navigation {
  position: relative;
  z-index: 5;
  background: #a0d6b4;
  width: 100%;
  position: fixed;
  z-index: 3;
  height: 35px;
  text-align: center;
  line-height: 35px;
  padding-left: 30px;
  margin-bottom: 30px; }
  .navigation .main-navigation .container-header {
    width: 100%; }
    .navigation .main-navigation .container-header .heading {
      padding-left: 30px;
      text-transform: uppercase;
      color: white;
      display: inline-block; }

.container .index-list {
  margin-top: 50px; }
  .container .index-list .content-container .content-title {
    font-size: 18px; }
    .container .index-list .content-container .content-title img {
      height: 200px;
      width: 200px;
      float: right;
      margin: 15px 5px 5px 5px; }
  .container .index-list .content-container .content-body {
    max-height: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px; }
