body {
  ul {
    list-style-type: none;
  }
}

.navigation {
  position:relative;
  z-index: 5;
  background:#a0d6b4;
  width:100%;
  position: fixed;
  z-index: 3;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 30px;
  margin-bottom: 30px;

  .main-navigation {
    .container-header {
      width:100%;

      .heading {
        padding-left: 30px;
        text-transform: uppercase;
        color: white;
        display: inline-block;
      }
    }
  }
}

.container {
  .index-list {
    margin-top: 65px;

    .content-container {
      .content-title {
        font-size: 18px;

        img {
          height: 200px;
          width: 260px;
          float: right;
          margin: 15px 5px 5px 5px;
        }
      }



      .content-body {
        max-height: 220px;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 10px 5px 0px;
      }

      a {
        color: #a0d6b4;;
        font-style: italic;

        &:hover {
          text-decoration: none;
          color: green;
        }
      }
    }

  }
}
