<div class="container" ng-controller="EditController">
  <nav class="buttons">
    <div class="back">
      <a ng-href="#">Back to Articles List</a>
    </div>
    <div class="crumb">
      <a ng-href="#/edit/{{nextArticleId}}">
        <span ng-if="index < idArray.length-1">Next Article</span>
      </a>
    </div>
  </nav>
  <form class="edit-form">
    <input type="text" ng-model="article.title" class="page-header"></h3>
    <section>
      <img class="header-image" src="{{article.image}}">
      <div class="edit-body">
        <input type="text" class="title" ng-model="article.author.name" />
        <div type="text" class="date">{{article.publishDate | date :'MM/dd/yyyy @ h:mma'}}</div>
        <textarea class="edit-content" ng-model="article.body" ng-bind="article.body"></textarea>
      </div>
    </section>
  </form>

  <div class="toolbar">
    <a class="toolbar-btn" ng-class="{'active': form.changed}" ng-click="save()">Save</a>
  </div>

</div>
