<div class="container">
  <ul class="index-list">
    <li class="content-container" ng-repeat="content in contentCollection">
      <section>
        <a ng-href="#/edit/{{content.id}}">
          <div class="content-title">
            <h3 class="ellipsis" ng-bind="content.title"></h3>
            <img src="{{content.image}}"/>
          </div>
          <p class="content-body">
            <span ng-bind="content.author.name"></span>
          </p>
          <span class="subtext">{{ content.publishDate | date : format : timezone}}</span>
        </a>

        <hr>
      </section>
    </li>
  </ul>
</div>
