body {
  ul {
    list-style-type: none;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  hr {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.navigation {
  position:relative;
  z-index: 5;
  background:#a0d6b4;
  width:100%;
  position: fixed;
  z-index: 3;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 30px;
  margin-bottom: 30px;

  .main-navigation {
    .container-header {
      width:100%;

      .heading {
        padding-left: 30px;
        text-transform: uppercase;
        color: white;
        font-weight: 400;
        display: inline-block;
      }
    }
  }
}

.content {
  .container {
    .page-header {
      margin-top: 50px;
    }

    .index-list {
      margin-top: 65px;

      .content-container {
        section {
          width: 900px;
          height: 100px;

          a {
            color: black;

            &:hover {
              color: black;
            }
          }
        }

        .content-title {
          position: relative;

          h3 {
            height: 30px;
            width: 700px;
            font-size: 22px;
            font-weight: 400px;
            font-family: "Open Sans";
          }

          img {
            position: absolute;
            top: 0px;
            right: 5px;
            height: 75px;
            width: 100px;
            float: right;
            margin: 0px 5px 5px 5px;
          }
        }

        .content-body {
          max-height: 220px;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 0px 5px 0px;
        }

        .subtext {
          color: #a0d6b4;;
          font-style: italic;
        }

      }
    }
  }
}
