body ul {
  list-style-type: none; }

.navigation {
  position: relative;
  z-index: 5;
  background: #a0d6b4;
  width: 100%;
  position: fixed;
  z-index: 3;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 30px;
  margin-bottom: 30px; }
  .navigation .main-navigation .container-header {
    width: 100%; }
    .navigation .main-navigation .container-header .heading {
      padding-left: 30px;
      text-transform: uppercase;
      color: white;
      font-weight: 400;
      display: inline-block; }

.content .container .page-header {
  margin-top: 50px; }

.content .container .index-list {
  margin-top: 65px; }
  .content .container .index-list .content-container a {
    color: black; }
    .content .container .index-list .content-container a:hover {
      color: black;
      text-decoration: none; }
    .content .container .index-list .content-container a.subtext {
      color: #a0d6b4;
      font-style: italic; }
      .content .container .index-list .content-container a.subtext:hover {
        text-decoration: none;
        color: green; }
  .content .container .index-list .content-container .content-title {
    font-size: 18px; }
    .content .container .index-list .content-container .content-title img {
      height: 200px;
      width: 260px;
      float: right;
      margin: 15px 5px 5px 5px; }
  .content .container .index-list .content-container .content-body {
    max-height: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 10px 5px 0px; }
